{% extends "questions/base.html" %}
{% block content %}

<section class="padding">

    <article class="center round" style="max-width: 600px; width: 100%;">
        <div class="padding">
            <h3>About us</h3>

            <p class="opacity-7 medium-text">
                Kendra and Zach...
            </p>

            <h3>About the site</h3>
            <p class="opacity-7 medium-text">
                Zach made this site...
            </p>

        </div>

    </article>

</section>

{% endblock content %}
