{% extends "questions/base.html" %} {% block content %}

<section class="padding">
    <article class="center round" style="max-width: 1000px; width: 100%">
        <div class="padding">
            <h4>About the site</h4>
            <p class="opacity-7 medium-text">
                This site began as a simple survey and gradually became a small
                full-stack experiment. The entire site runs on a Django
                framework, which stores every answer inside a local database.
                The site is simple, but complete enough to handle much larger
                projects. The core logic of the site is written in Python, with
                templated pages, dynamic question routing, and (fortunately for
                us) an administrative interface to review submissions.
            </p>
            <p class="opacity-7 medium-text">
                The Django application itself is deployed on a DigitalOcean
                Droplet (basically a tiny chunk of rented cloud) running Ubuntu,
                with Gunicorn serving the Django application and Nginx
                forwarding requests. When a request arrives (e.g. you click
                "Next"), Nginx performs the initial HTTP handling and forwards
                the request through a Unix socket to Gunicorn. Gunicorn then
                executes the Django logic and returns the rendered HTML/CSS
                (while Nginx delivers the explosion photo of the mixtape).
                Styling was handled with Beer CSS, which turned out to be nifty
                way to quickly get a website looking half-way decent. Certbot
                provides TLS certificates so that all traffic is encrypted, and
                we found the domain name for $0.99/year.
            </p>
            <p class="opacity-7 medium-text">
                If you're curious, the majority of this project can be found in

                <a
                    href="https://github.com/zrspeer/music_holiday"
                    style="
                        color: #f6d75a;
                        text-decoration: underline;
                        cursor: pointer;
                    "
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    this
                </a>
                github repo. I'm 100% open to feedback and criticism. Here
                you'll find the website logic and HTML/CSS that you're seeing.
                All of the request handling setup was handled in the
                DigitalOcean Droplet through configuration file changes and a
                lot of pulling my hair out.
            </p>

            <h4>Your Privacy</h4>
            <p class="opacity-7 medium-text">
                Though I built this site myself, I took precautions to protect
                the information you provide. An initial passcode protects the
                site from web scrapers and random traffic, a TLS/SSL certificate
                encrypts everything sent between your browser and the server,
                and the server (DigitalOcean Droplet) is protected by a
                firewall. However, we are asking for a name or nickname, mailing
                address, and very specific music preferences. Individually,
                these bits of information are "low sensitivity", but together
                they still form a small personal profile. If there is
                information you don't feel comfortable providing, please don't
                provide it! If you submit something and change your mind,
                contact Kendra or me and I will delete it. I take my online
                privacy seriously and YOU SHOULD TOO!
            </p>
            <p class="opacity-7 medium-text">Love,</p>
            <p class="opacity-7 medium-text">Zach</p>
        </div>
    </article>
</section>

{% endblock content %}
