{% extends 'questions/base.html' %}
{% block content %}

<section class="padding">
    <article class="center round" style="max-width: 600px; width: 100%">
        <div class="padding">
            <h4>Question: {{ question.order|add:1 }}</h4>
            <h3>{{ question.prompt }}</h3>

            {% if question.description %}
            <p class="opacity-7 medium-text">{{ question.description }}</p>
            {% endif %}
        </div>

        <form method="post">
            {% csrf_token %}

                {% if form.value_text.field.widget.input_type == "radio" %}
                    <fieldset>
                        <legend>Select One</legend>
                        <nav class="vertical">
                            {% for subwidget in form.value_text %}
                            <label class="radio">
                                {{ subwidget.tag }}
                                <span>{{ subwidget.choice_label }}</span>
                            </label>
                            {% endfor %}
                        </nav>
                    </fieldset>
                {% else %}
                    <div class="field">
                        {{ form.value_text }}
                    </div>
                {% endif %}


            <div class="padding">
                <button class="button primary large round" type="submit">
                    <i>arrow_forward</i>
                    <span>Next</span>
                </button>
            </div>
        </form>

        {% if submitted %}
        <div class="padding-top padding-left padding-right padding-bottom">
            <p>You submitted: "{{ form.instance.value_text }}"</p>
        </div>

        {% endif %}
    </article>
</section>

{% endblock content %}
