{% extends "questions/base.html" %} {% block content %}

<section class="center padding">
    <article class="center round" style="max-width: 600px; width: 100%">
        <div class="padding">
            <h3>All Questions</h3>

            <div class="vertical">
                {% for q in questions %}
                <div class="padding">
                    <button class="responsive extra small-elevate">
                    <a

                        href="{% url 'questions:question' q.id %}"
                    >
                        <span>
                            <strong>Question {{ q.order|add:1 }}:</strong> {{ q.prompt }}
                        </span>
                    </a>
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </article>
</section>

{% endblock content %}
